{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "Increment": {
            "ignore": [
                "WyriHaximus\\Metrics\\InMemory\\Summary::cleanUpBuckets"
            ]
        },
        "For_": {
            "ignore": [
                "WyriHaximus\\Metrics\\InMemory\\Summary::cleanUpBuckets"
            ]
        },
        "FunctionCallRemoval": {
            "ignore": [
                "WyriHaximus\\Metrics\\InMemory\\Registry\\Summaries::summary",
                "WyriHaximus\\Metrics\\InMemory\\Summary::cleanUpBuckets"
            ]
        },
        "LessThan": {
            "ignore": [
                "WyriHaximus\\Metrics\\InMemory\\Summary::cleanUpBuckets"
            ]
        },
        "LessThanOrEqualTo": {
            "ignore": [
                "WyriHaximus\\Metrics\\InMemory\\Summary::observe"
            ]
        },
        "LessThanOrEqualToNegotiation": {
            "ignore": [
                "WyriHaximus\\Metrics\\InMemory\\Summary::observe"
            ]
        },
        "LessThanNegotiation": {
            "ignore": [
                "WyriHaximus\\Metrics\\InMemory\\Summary::cleanUpBuckets"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "WyriHaximus\\Metrics\\InMemory\\Registry\\Summaries::summary",
                "WyriHaximus\\Metrics\\InMemory\\Summary::observe"
            ]
        },
        "Minus": {
            "ignore": [
                "WyriHaximus\\Metrics\\InMemory\\Summary::cleanUpBuckets"
            ]
        },
        "NotIdentical": {
            "ignore": [
                "WyriHaximus\\Metrics\\InMemory\\Summary::observe"
            ]
        },
        "PublicVisibility": {
            "ignore": [
                "WyriHaximus\\Metrics\\Factory::createWithConfiguration"
            ]
        },
        "UnwrapArrayKeys": {
            "ignore": [
                "WyriHaximus\\Metrics\\InMemory\\Summary::cleanUpBuckets"
            ]
        },
        "UnwrapArrayValues": {
            "ignore": [
                "WyriHaximus\\Metrics\\InMemory\\Registry\\Summaries::summaries"
            ]
        }
    }
}
